<!-- <div class="row">
    <div class="col-md-8 offset-md-1">
      <h3>Posts
        <button class="btn"><i class="fa fa-plus"></i></button>
        <button class="btn"><i class="fa fa-minus"></i></button>
    </h3>
    </div>
    <div class="col-md-2">
      View All
    </div>
    <div class="col-md-3 offset-md-1">
      <img src="./../../../../assets/media/blog/blog3.jpg" width="100%"  />
    </div>
    <div class="col-md-3">
      <img src="./../../../../assets/media/blog/blog3.jpg" width="100%" />
    </div>
    <div class="col-md-3 ">
      <img src="./../../../../assets/media/blog/blog3.jpg" width="100%" />
    </div>
  </div>
   -->
   <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <h3>Posts
          <button class="btn"><i class="fa fa-plus"></i></button>
          <button class="btn"><i class="fa fa-minus"></i></button>
        </h3>
      </div>
  
      <div class="col-md-4">
        <img src="assets/media/blog/blog3.jpg" width="100%"  class="imgClass"/>
      </div>
      <div class="col-md-4 ">
        <img src="assets/media/blog/blog3.jpg" width="100%" class="imgClass"/>
      </div>
      <div class="col-md-4 ">
        <img src="assets/media/blog/blog3.jpg" width="100%" class="imgClass"/>
      </div>
      <!-- <div class="col-md-12 mt-4">
        <img src="./../../../../assets/media/bg/300.jpg" width="100%" />
      </div> -->
    </div>
  </div>
  
  