  <div class="row ">
    <div class="container">
      <h4>Head-to-heads</h4>
      <div class="card text-center roundedCorner">
        <div class="card-body ">
          <div class="col-md-3" style="float: left;">
            <div class="card">
              <img class="card-img-top" src="assets/media/bg/bg-1.jpg">
              <div class="card-body">
                <p class="card-text">John Doe</p>
                <span><small>location</small></span>
                <span class="ml-2"><button class="btn badge badge-pill btnBackground">btn</button> </span>
              </div>
            </div>
          </div>
          <div class="col-md-1" style="float: left;">
            <p>VS</p>
          </div>
          <!--  -->
          <div class="col-md-3" style="float: left;">
            <div class="card">
              <img class="card-img-top" src="assets/media/bg/bg-1.jpg">
              <div class="card-body">
                <p class="card-text">John Doe</p>
                <span><small>location</small></span>
                <span class="ml-2"><button class="btn badge badge-pill btnBackground">btn</button> </span>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="col-md-2" style="float: left;">
            <h6>Challenges</h6>
            <small><li>challenge 1</li></small>
            <small><li>challenge 2</li></small>
  
            <h6>Period</h6>
            <small><li>period 1</li></small>
            <small><li>period 1</li></small>
  
          </div>
          <!--  -->
          <div class="col-md-3" style="float: left;">
            <h6>Rewards available</h6>
            <div class="col-md-4 mt-4 icon-circle">
              <i class="fa fa-tree mt-2" style="text-align: center;"></i>
            </div>
            <!-- 2nd -->
            <div class="col-md-4 mt-4 ml-2 icon-circle">
              <i class="fa fa-tree mt-2" style="text-align: center;"></i>
            </div>
            <!-- 3rd -->
            <div class="col-md-4 mt-4 ml-2 icon-circle">
              <i class="fa fa-tree mt-2" style="text-align: center;"></i>
            </div>
            <div class="col-md-12">
              <button class="btn badge badge-pill btnBackground mt-5" style="width: 100%;">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- 2nd Head to Head -->
  
  <div class="row mt-4">
    <div class="container">
      <!-- <h4>Head-to-heads</h4> -->
      <div class="card text-center roundedCorner">
        <div class="card-body ">
          <div class="col-md-3" style="float: left;">
            <div class="card">
              <img class="card-img-top" src="assets/media/bg/bg-1.jpg">
              <div class="card-body">
                <p class="card-text">John Doe</p>
                <span><small>location</small></span>
                <span class="ml-2"><button class="btn badge badge-pill btnBackground">btn</button> </span>
              </div>
            </div>
          </div>
          <div class="col-md-1" style="float: left;">
            <p>VS</p>
          </div>
          <!--  -->
          <div class="col-md-3" style="float: left;">
            <div class="card">
              <img class="card-img-top" src="assets/media/bg/bg-1.jpg">
              <div class="card-body">
                <p class="card-text">John Doe</p>
                <span><small>location</small></span>
                <span class="ml-2"><button class="btn badge badge-pill btnBackground">btn</button> </span>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="col-md-2" style="float: left;">
            <h6>Challenges</h6>
            <small><li>challenge 1</li></small>
            <small><li>challenge 2</li></small>
  
            <h6>Period</h6>
            <small><li>period 1</li></small>
            <small><li>period 1</li></small>
  
          </div>
          <!--  -->
          <div class="col-md-3" style="float: left;">
            <h6>Rewards available</h6>
            <div class="col-md-4 mt-4 icon-circle">
              <i class="fa fa-tree mt-2" style="text-align: center;"></i>
            </div>
            <!-- 2nd -->
            <div class="col-md-4 mt-4 ml-2 icon-circle">
              <i class="fa fa-tree mt-2" style="text-align: center;"></i>
            </div>
            <!-- 3rd -->
            <div class="col-md-4 mt-4 ml-2 icon-circle">
              <i class="fa fa-tree mt-2" style="text-align: center;"></i>
            </div>
            <div class="col-md-12">
              <button class="btn badge badge-pill btnBackground mt-5" style="width: 100%;">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
