<!-- <p>landing-page works!</p> -->
<!-- <kt-topbar></kt-topbar> -->
<kt-landingpage-header>
  <div class="row landingpageimage">
    <div class="col-md-11" style="height:25vh">
    </div>
    <div class="col-md-4 offset-md-8">
        <div class="container">
            <h1 style='font-size: 2.6em;'>
                JOIN THE HOME OF SOUTH AFRICAN CREATIVES.
            </h1>
            <p style='font-size: 1.6em;'>
                FIND TOP CREATIVE TALENT IN <br>MINUTES WITH OUR NETWORK OF PROFESSIONALS.
            </p>
            <button class="badge badge-pill btnBackground" style='font-size: 1.2em;'>Join Untapped</button>
        </div>

        <div class="col-md-11" style="height:40vh"></div>
    </div>
  </div>

  <!-- 2nd Section start From here -->

  <div class="row services color">
      <div class="col-md-3 left">
          <div class="container">
            <div  style="text-align: center;">
                <img src="assets/media/icons/Icons/Landing/2.png" style="width:30vh;">
            </div>
            <div class="col-md-10 offset-md-1">
              <h4 class="mt-1" >
                FIND WORK
              </h4>
              <p class="mt-1">
                    A unique and flexible
                    work solution - even for
                    hard those working 9-5!
              </p>
            </div>
          
          </div>
        
      </div>
      <div class="col-md-3 left">
        <div class="container">
          <div class="ml-4" style="text-align: center;">
              <img src="assets/media/icons/Icons/Landing/3.png" style="width:30vh; height:22vh;">
          </div>
          <div class="col-md-10 offset-md-1">
            <h4 class="mt-1">
              FAIR PRICE
            </h4>
              <p class="mt-1">
                Top quality for a fair price
                - the best of both worlds.
                Buy a subscription & gift a
                subscription    
              </p>
          </div>
        
        </div>
      
      </div>
      <div class="col-md-3 left">
        <div class="container">
          <div  style="text-align: center;">
              <img src="assets/media/icons/Icons/Landing/4.png" style="width:23vh; height:22vh;">
          </div>
          <div class="col-md-10 offset-md-1">
            <h4 class="mt-1">
              CREATIVE-SUPPORT
            </h4>
              <p class="mt-1">
                No more having to think
                about where to find work
                and how to get paid.
              </p>
          </div>
        
        </div>
      
      </div>
      <div class="col-md-3 left">
        <div class="container">
          <div style="text-align: center;"> 
              <img src="assets/media/icons/Icons/Landing/5.png" style="width:25vh; height:22vh">
          </div>
          <div class="col-md-10 offset-md-1">
            <h4 class="mt-1">
              BUILD A SIDE-HUSTLE
            </h4>
              <p class="mt-1">
                We focus our time and
                tech on helping creatives
                turn their side work into
                their main grind.
              </p>
          </div>
        
        </div>
      
      </div>
  </div>

  <!-- 3rd Section Start From here -->
  <div class="row color">
      <div class="col-md-12 heading">
        <div class="col-md-3 left mt-4 ml-5">
          <hr class="hrwidth">
        </div>
        <div class="col-md-5 left">
          <h1 class="mt-4" style="text-align: center;">THE ART OF TRANSPARENCY</h1>
        </div>
        <div class="col-md-3 left mt-4">
          <hr class="hrwidth">
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-2 offset-md-1 left">
          <div class="row arrow">
            <div class="col-md-12 ">
              <div class="container-fluid" style="height:16vh">
                <div class="row mt-4 mb-1" style="font-size: 9pt;">
                  We acknowledge our top
                  workers and reward them for
                  pioneering & growing the
                  creative space.
                </div>
              </div>
            </div>
          </div>
          <div class="row arrow">
            <div class="col-md-12 ">
              <div class="container-fluid" style="height:16vh">
                <div class="row mt-4 mb-1" >
                  <p style="font-size: 9pt;" class="mt-4">
                    Find opportunities, build
                    honest relationships and make
                    money.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row arrow">
            <div class="col-md-12 ">
              <div class="container-fluid">
                <div class="row mt-4 mb-1" style="height:16vh">
                  <p style="font-size: 9pt;">
                    Complete independence<br> to
                    build your own business, set your
                    work hours & access to projects.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 left">
          <img src="assets/media/icons/Icons/Landing/6.png" width="100%">
          <span class="text">Untapped Community</span>
          <span class="text" style="margin-left: 17vh;">General 9-5 Job</span>
        </div>
        <div class="col-md-2 offset-md-1 left">
          <div style = "height: 42vh">
            
          </div>
          <div class="row arrowb">
            <div class="col-md-12 ">
              <div class="container-fluid">
                <div class="row mt-1 mb-1 ml-1" style="height:16vh">
                  <p style="font-size: 9pt;">
                    Low Minimum Wage
                    Bad Management
                    High Cost of Business & Living
                    Lack of Support & Opportunities                    
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>   
      <!-- <div class="col-md-12">
        <div class="container-fluid"> 
          <div class="col-md-2 offset-md-3">
            <h5>Untapped Community</h5>
          </div>
        </div>
      </div> -->
  </div>
  
  <!-- 4th Section Start From here -->
  <div class="row color">
      <div class="col-md-4 left offset-md-1">
          <div class="mt-5">
              <div class="col-md-10" style="height: 5vh;">

              </div>
              <div class="container">
                <hr class="mt-1 hrwidth">
                <h5 class="subheading">1. SIGN UP & UPLOAD YOUR BEST WORK</h5>
                <p>
                  Are you creative? Do you want to make a little
                  extra cash? Choose your creative category &
                  upload the work your are most proud of
                </p>
              </div>
         

          </div>
      </div>
      <div class="col-md-7 left">
          <div class="mt-5">
            <img src="assets/media/icons/Icons/Landing/7.png" width="75%">
          </div>
      </div>

  </div>

  <!-- 5th section -->
  <div class="row color">

    <div class="col-md-7 left">
        <div class="mt-5">
          <img src="assets/media/icons/Icons/Landing/8.png" width="75%">
        </div>
    </div>

    <div class="col-md-4 left ">
        <div class="mt-2">
            <div class="col-md-10" style="height: 5vh;">

            </div>
            <div class="container">
              <hr class="mt-1 hrwidth">
              <h5 class="subheading">2. ENTER CAMPAIGNS & PROJECTS</h5>
              <p>
                See if your creative talents catch the eyes
                of brands & businesses. The more active you
                are on the platform, the higher your value
                grows in the Untapped Creative Community.
              </p>
            </div>
       

        </div>
    </div>

</div>

  <!-- 6th Section Start From here -->
  <div class="row color ">
    <div class="col-md-4 left offset-md-1">
        <div class="mt-5">
            <div class="col-md-10" style="height: 5vh;"></div>
            <div class="container">
              <hr class="mt-1 hrwidth">
              <h5 class="subheading">3. YOU'RE THE BOSS</h5>
              <p>
                Set your price, discuss deliverables, set
                milestones and deadlines. We help you know
                what the industry rates are and how you can
                value your work, so corporates value it too!
              </p>
            </div>
       

        </div>
    </div>
    <div class="col-md-7 left">
      <div class="col-md-10" style="height: 5vh;"></div>
        <div class="mt-5 ml-5">
          <img src="assets/media/icons/Icons/Landing/9.png" width="55%">
        </div>
    </div>

</div>

  <!-- 7th section -->
  <div class="row color">

    <div class="col-md-7 left">
        <div class="mt-5">
          <img src="assets/media/icons/Icons/Landing/10.png" width="75%">
        </div>
    </div>

    <div class="col-md-4 left ">
        <div class="mt-5">
            <div class="col-md-10" style="height: 5vh;">

            </div>
            <div class="container">
              <hr class="mt-1 hrwidth">
              <h5 class="subheading">4. EXPLORE OUR CREATIVE SOLUTIONS</h5>
              <p>
                Explore our crowdfunding, online courses or
                see if your products can be stocked on our
                online store. The more your build your
                cretaive skills the more opportunities you
                will unlock.
              </p>
            </div>
       

        </div>
    </div>

</div>

  <!-- 8th Section Start From here -->
  <div class="row color">
    <div class="col-md-4 left offset-md-1">
        <div class="mt-5">
            <div class="col-md-10" style="height: 5vh;">

            </div>
            <div class="container">
              <hr class="mt-1 hrwidth">
              <h5 class="subheading">5. UNTAPPED POTENTIAL</h5>
              <p>
                We want our community to unlock as much
                resources as they need to find creative
                solutions to everyday problems. We believe
                the world needs creative solutions & we
                value our communities creativity
              </p>
            </div>
       

        </div>
    </div>
    <div class="col-md-7 left">
        <div class="mt-5">
          <img src="assets/media/icons/Icons/Landing/11.png" width="75%">
        </div>
    </div>

</div>

<!-- 9th section start from here -->
    <div class="row color">
      <div class="col-md-3 left mt-4 ml-5">
        <hr class="hrwidth">
      </div>
      <div class="col-md-5 left">
        <h1 class="mt-4" style="text-align: center;">MENTIONED ON</h1>
      </div>
      <div class="col-md-3 left mt-4 ml-5">
        <hr class="hrwidth">
      </div>
        <div class="col-md-4 left">
            <div class="mt-5">
                <div class="col-md-8  offset-md-3">
                    <img src="assets/media/icons/Icons/Landing/12.png" width="180vw">
                </div>
            </div>
        </div>
        <div class="col-md-4 left">
            <div class="mt-5">
                <div class="col-md-8 offset-md-1">
                    <img src="assets/media/icons/Icons/Landing/15.PNG" width="180vh">
                </div>
            </div>
        </div>
        <div class="col-md-4 left">
          <div class="mt-5">
              <div class="col-md-6 offset-md-3">
                  <img src="assets/media/icons/Icons/Landing/13.PNG" width="150vw" height="120vh">
              </div>
          </div>
      </div>
        <div class="col-md-11" style="height:10vh">
        </div>
    </div>
    <div class="col-md-12" >
      <kt-footer></kt-footer>
    </div>
   

</kt-landingpage-header>
