<!-- <p>head-to-head-compitions works!</p> -->
<div class="row">
    <div class="container-fluid">
        <h5 style="text-align: center;">Competitions</h5>
        <div class="col-md-8" style="float: left;">
            <div class="col-md-11">
                <h5>Head-to-head</h5>
                <p class="mt-4">Challenge your fellow creatives on our platform and earn verified skills</p>
                <p class="mt-4">As your head-to-head challenge gathers traction through votes you - will both
                    earn rewards
                </p>
                <p class="mt-4">Prizes will be awarded each month to top performing creatives.</p>
            </div>
        </div>
        <div class="col-md-4" style="float: left;">
            <img class="ml-5 mt-3" src="assets/media/icons/Icons/competitions/53.png" width="280px">
        </div>
        <!-- Tabs -->
        <!-- <div></div> -->
        <div class="col-md-12">
            <div class="col-md-8" style="float: left;">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-3" style="float: left;">
                            <div class="col-md-6" style="float: left;">
                               <small>  Acting </small>
                            </div>
                            <div class="col-md-6" style="float: left;">
                                <small>Art </small>
                            </div>
                        </div>
                        <div  class="col-md-3" style="float: left;">
                            <div class="col-md-6" style="float: left;">
                               <small> Comedy </small>
                            </div>
                            <div class="col-md-6" style="float: left;">
                                <small> Design</small>
                            </div>
                        </div>

                        <div class="col-md-3" style="float: left;">
                            <div class="col-md-6" style="float: left;">
                               <small> Fashion </small>
                            </div>
                            <div class="col-md-6" style="float: left;">
                                <small>Photo</small>
                            </div>
                        </div>
                        <div  class="col-md-3" style="float: left;">
                            <div class="col-md-6" style="float: left;">
                                <small>Music </small>
                            </div>
                            <div class="col-md-6" style="float: left;">
                               <small> Modelling </small>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <mat-tab-group>
                    <mat-tab label="Open" >
                        <div class="row " routerLink='/loggedIn/competitions/user-details'>
                            <div class="container">
                              <h4>Head-to-heads</h4>
                              <div class="card text-center roundedCorner">
                                <div class="card-body ">
                                    <div class="col-md-1" style="float: left;">
                                        <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="60vh">
                                        <br>
                                        <small>john</small>
                                    </div>
                                    <!--  -->
                                    <div class="col-md-3" style="float: left;">
                                        <p><b>Challenges</b></p>
                                        <li>challenge1</li>
                                        <li>challenge2</li>
                                    </div>
                                    <!--  -->
                                    <div class="col-md-3" style="float: left;">
                                        <p><b>Days Left</b></p>
                                        <li>challenge1</li>
                                        <li>challenge2</li>
                                    </div>
                                    <!--  -->
                                    <div class="col-md-3" style="float: left;">
                                        <p><small>Rewards</small></p>
                                        <div class="col-md-4" style="float: left;">
                                            <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vw">
                                        </div>
                                        <div class="col-md-4" style="float: left;">
                                            <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                                        </div>
                                        <div class="col-md-4" style="float: left;">
                                            <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="col-md-2 mt-4" style="float: left;">
                                        <button class="badge badge-pill btnBackground">Enter</button>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <!-- 2nd -->
                        <div class="row " routerLink='/loggedIn/competitions/user-details'>
                            <div class="container">
                              <h4>Head-to-heads</h4>
                              <div class="card text-center roundedCorner">
                                <div class="card-body ">
                                    <div class="col-md-1" style="float: left;">
                                        <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="60vh">
                                        <br>
                                        <small>john</small>
                                    </div>
                                    <!--  -->
                                    <div class="col-md-3" style="float: left;">
                                        <p><b>Challenges</b></p>
                                        <li>challenge1</li>
                                        <li>challenge2</li>
                                    </div>
                                    <!--  -->
                                    <div class="col-md-3" style="float: left;">
                                        <p><b>Days Left</b></p>
                                        <li>challenge1</li>
                                        <li>challenge2</li>
                                    </div>
                                    <!--  -->
                                    <div class="col-md-3" style="float: left;">
                                        <p><small>Rewards</small></p>
                                        <div class="col-md-4" style="float: left;">
                                            <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vw">
                                        </div>
                                        <div class="col-md-4" style="float: left;">
                                            <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                                        </div>
                                        <div class="col-md-4" style="float: left;">
                                            <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="col-md-2 mt-4" style="float: left;">
                                        <button class="badge badge-pill btnBackground">Enter</button>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <!-- 3rd -->
                        <div class="row " routerLink='/loggedIn/competitions/user-details'>
                            <div class="container">
                              <h4>Head-to-heads</h4>
                              <div class="card text-center roundedCorner">
                                <div class="card-body ">
                                    <div class="col-md-1" class="marginMedia">
                                        <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar marginMedia' alt="Avatar" width="60vh">
                                        <br>
                                        <small>john</small>
                                    </div>
                                    <!--  -->
                                    <div class="col-md-3" style="float: left;">
                                        <p><b>Challenges</b></p>
                                        <li>challenge1</li>
                                        <li>challenge2</li>
                                    </div>
                                    <!--  -->
                                    <div class="col-md-3" style="float: left;">
                                        <p><b>Days Left</b></p>
                                        <li>challenge1</li>
                                        <li>challenge2</li>
                                    </div>
                                    <!--  -->
                                    <div class="col-md-3" style="float: left;">
                                        <p><small>Rewards</small></p>
                                        <div class="col-md-4" style="float: left;">
                                            <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vw">
                                        </div>
                                        <div class="col-md-4" style="float: left;">
                                            <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                                        </div>
                                        <div class="col-md-4" style="float: left;">
                                            <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="col-md-2 mt-4" style="float: left;">
                                        <button class="badge badge-pill btnBackground">Enter</button>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>

                    </mat-tab>
                    <mat-tab label="Closed"></mat-tab>
                    <mat-tab label="Comming Soon"></mat-tab>
                    <mat-tab label="Vote">
                        <kt-vote></kt-vote>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <div class="col-md-4" style="float: left;">
                <h5>Leaderboard</h5>
                <div class="col-md-12 mt-4">
                    <kt-leaderboard></kt-leaderboard>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="container-fluid">
        <h4 style="text-align: center;">Head-to-head Leaderboard</h4>
        <div class="row">
            <div class="col-md-2" style="float: left;">
                <div class="col-md-12">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vw">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>
                <!-- 2nd -->
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>
                <!-- 3rd -->
                <div class="col-md-12 mt-4" style="height: 10px;">
                </div>
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>
                <!-- 4th -->
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>

                <!-- 3rd -->
                <div class="col-md-12 mt-4" style="height: 10px;">
                </div>
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                        </div>
                </div>
                <!-- 4th -->
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
            <!-- 2nd Row Start FOR HERE -->
            <!--  -->
            <div class="col-md-2" style="float: left;">
                <!-- 3rd -->
                <div class="col-md-12 mt-4" style="height: 10px;">
                </div>
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>
                <!-- 4th -->
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>


                <div class="col-md-12 mt-4" style="height: 10px;">
                </div>
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>
                <!-- 4th -->
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>
            </div>


            <!-- 3rd Row Start FOR HERE -->
            <!--  -->
            <div class="col-md-2" style="float: left;">
                <div class="col-md-12 mt-4" style="height: 150px;">
                </div>
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>
            </div>


            <!-- 4th -->
            <div class="col-md-2" style="float: left;">
                <div class="col-md-12 mt-4" style="height: 150px;">
                </div>
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>
            </div>


            <!-- 5th -->

                        <!-- 2nd Row Start FOR HERE -->
            <!--  -->
            <div class="col-md-2" style="float: left;">
                <!-- 3rd -->
                <div class="col-md-12 mt-4" style="height: 10px;">
                </div>
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>
                <!-- 4th -->
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>


                <div class="col-md-12 mt-4" style="height: 10px;">
                </div>
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>
                <!-- 4th -->
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            

            <!-- 6th -->

            <div class="col-md-2" style="float: left;">
                <div class="col-md-12">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>
                <!-- 2nd -->
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>
                <!-- 3rd -->
                <div class="col-md-12 mt-4" style="height: 10px;">
                </div>
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>
                <!-- 4th -->
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                      </div>
                </div>

                <!-- 3rd -->
                <div class="col-md-12 mt-4" style="height: 10px;">
                </div>
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                        </div>
                </div>
                <!-- 4th -->
                <div class="col-md-12 mt-4">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="col-md-5" style="float: left;">
                                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="40vh">
                            </div>
                            <div class="col-md-7" style="float: left;">
                                <p class="mt-0 mb-0">John</p>
                                <small class="mt-0 mb-0">Ranking</small>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>