<!-- <p>leaderboard works!</p> -->
<!-- Header -->
<div class="row ">
    <div class="container">
      <div class="card text-center">
        <div class="card-body ">
            <div class="col-md-3" style="float: left;">
              <small> Creative </small>
            </div>
            <div class="col-md-4" style="float: left;">
               <small> Commands </small>
            </div>
            <!--  -->
            <div class="col-md-2" style="float: left;">
               <small> Views</small>
            </div>
            <!--  -->
            <div class="col-md-3" style="float: left;">
                <!-- Level -->
                <small>Level</small>
            </div>
        </div>
      </div>
    </div>
</div>
<!-- Data -->
<div class="row mt-4 ">
    <div class="container">
      <div class="card text-center">
        <div class="card-body ">
            <div class="col-md-3" style="float: left;">
                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="50%">
            </div>
            <div class="col-md-3" style="float: left;">
                1500
            </div>
            <!--  -->
            <div class="col-md-3" style="float: left;">
                150
            </div>
            <!--  -->
            <div class="col-md-3" style="float: left;">
                Elder
            </div>
        </div>
      </div>
    </div>
</div>

<!-- Dummy -->

<div class="row mt-4 ">
    <div class="container">
      <div class="card text-center">
        <div class="card-body ">
            <div class="col-md-3" style="float: left;">
                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="50%">
            </div>
            <div class="col-md-3" style="float: left;">
                1500
            </div>
            <!--  -->
            <div class="col-md-3" style="float: left;">
                150
            </div>
            <!--  -->
            <div class="col-md-3" style="float: left;">
                Elder
            </div>
        </div>
      </div>
    </div>
</div>



<div class="row mt-4 ">
    <div class="container">
      <div class="card text-center">
        <div class="card-body ">
            <div class="col-md-3" style="float: left;">
                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="50%">
            </div>
            <div class="col-md-3" style="float: left;">
                1500
            </div>
            <!--  -->
            <div class="col-md-3" style="float: left;">
                150
            </div>
            <!--  -->
            <div class="col-md-3" style="float: left;">
                Elder
            </div>
        </div>
      </div>
    </div>
</div>



<div class="row mt-4 ">
    <div class="container">
      <div class="card text-center">
        <div class="card-body ">
            <div class="col-md-3" style="float: left;">
                <img src="https://www.w3schools.com/howto/img_avatar2.png" class='avatar' alt="Avatar" width="50%">
            </div>
            <div class="col-md-3" style="float: left;">
                1500
            </div>
            <!--  -->
            <div class="col-md-3" style="float: left;">
                150
            </div>
            <!--  -->
            <div class="col-md-3" style="float: left;">
                Elder
            </div>
        </div>
      </div>
    </div>
</div>