<!-- <p>view-user-details works!</p> -->
<div class="row">
    <div class="container-fluid">
        <h3 style="text-align: center;">Head-to-head</h3>
        <div class="col-md-6 mt-5" style="float: left;">
            <div class="col-md-6 offset-md-3 mt-5">
                <h5 style="text-align: center;">Worth of Rewards</h5>
                <div class="card profile-card-2 mt-5">
                    <div class="card-img-block">
                        <img class="img-fluid" src="https://images.pexels.com/photos/870903/pexels-photo-870903.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"  alt="Card image cap">
                    </div>
                    <div class="card-body pt-5">
                        <div class="profile-thumb-block offset-md-3">
                            <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="profile-image" class="profile" style="margin-left: 30%;"/>
                        </div>
                        
                        <h5 class="card-title " style="text-align: center; color: black;">John</h5>
                        <p class="card-text">Some quick example text to build on .</p>
                        <div class="col-md-8 offset-md-4">
                            <button class="badge badge-pill followBtn">Chat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2nd Part -->
        <div class="col-md-6 mt-5" style="float: left;">
            <div class="col-md-6  mt-5">
                <h5>Challenge</h5>
                <li>1st</li>
                <li>2nd</li>
                <h5 >Period</h5>
                <li>1st</li>
                <li>2nd</li>
                <h5>Rewards up for grabs</h5>
                <div style="height:140px">
                    icons here
                </div>
                <br>
                <button class="badge badge-pill btnBackground" style="width: 80%;">Enter</button>
            </div>
        </div>
    </div>
</div>
