<div class="row">
    <div class="container">
        <h3 style="text-align: center;">Competitions</h3>
        <div class="col-md-6" style="float: left;">
            <div class="col-md-10 offset-md-1 mt-3">
                <h5>How do challenges benefit businesses?</h5>
                <p class="mt-4">
                    Boost brand awareness and engagement by hosting a creative challenge.
                    <br>
                    As users compete they will create specific content and the
                    voters will view specific content relating to the brand
                    hosting. This will increase the reach that usual marketing
                    campaigns get as voting is entering, voting
                    and monitoring is free.
                </p>
                <div class="col-md-12">
                    <img class="ml-5" src="assets/media/icons/Icons/competitions/51.png" width="180px">
                </div>
                <div class="col-md-4 offset-md-4">
                    <button class="badge badge-pill btnBackground" (click)='hostCompetitions()'>Get started</button>
                </div>
                
            </div>
        </div>
        <div class="col-md-6" style="float: left;">
            <div class="col-md-10 offset-md-1 mt-3">
                <h5>How do challenges benefit Creatives?</h5>
                <p class="mt-4">Boost brand awareness and engagement by hosting a
                    creative challenge.
                    <br>
                    As users compete they will create specific content and the
                    voters will view specific content relating to the brand
                    hosting. This will increase the reach that usual marketing
                    campaigns get as voting is entering, voting
                    and monitoring is free.
                </p>
                <div class="col-md-12">
                    <img class="ml-5 mt-3" src="assets/media/icons/Icons/competitions/52.png" width="180px">
                </div>
                <div class="col-md-4 offset-md-4 mt-4">
                    <button class="badge badge-pill btnBackground" routerLink="/loggedIn/competitions/head-to-head">Get started</button>
                </div>
            </div>
        </div>
    </div>
</div>